# ignore byte-compiled and emacsens backup files
*.pyc
*~

# using rope to refactor
.ropeproject/

# nosetest coverage
.noseids
.coverage

wp_frontend/plots/plot-*

# files generated when doing setup.py install
build/
dist/