#wrap{
    width:1000px;
    margin:auto;
    position:relative;
}
#header {
    height:50px;
    border-bottom:1px solid #b2b2b2;
    position:relative;
    margin-top:30px;
}
#menu {
    text-align:center;
    vertical-align:middle;
}
#menuentry {
    border-width:1px;
    border-style:solid;
    padding:5px;
    margin-left:2px;
    margin-right:2px;
}
#middle {
    border-top:10px solid #ffffff;
    border-bottom:1px solid #b2b2b2;
}
#ovdiag{
    width:100%;
    position:relative;
}
#ovvalue{
    position:absolute;
    font-size:12px;
}
