/* framework specific stuff */
form.deform {
    border-style: none;
}
#ui-datepicker-div {
    z-index: 9999 !important;
}
.deform label {
    font-size: 1.0em;
}
/* page specific stuff */
body {
    width: 1200px;
    margin: auto;
}
.page {
    width: auto;
}
img {
    width: 100%;
}
/* This is for the "Home" site. */
#homediag{
    position:relative;
}
#homediag > img {
    width: 100%;
}
.homeval > span {
    position: absolute;
    font-size: 12px;
}
.homeval > span#black { color: black; }
.homeval > span#blue  { color: blue;  }
.homeval > span#red   { color: red;   }
